<p>header</p>

<nav>
  <a routerLink="/">Home -</a>
  <a routerLink="/list">list -</a>
  <a routerLink="/changenumber">changenumber -</a>
  <a routerLink="/directive">directive -</a>
  <a routerLink="/emitter">emitter -</a>
  <a routerLink="/eventos">eventos -</a>
  <a routerLink="/ifrender">ifrender -</a>
  <a routerLink="/parentdata">parentdata -</a>
  <a routerLink="/pipes">pipes -</a>
  <a routerLink="/twowaybinding">twowaybinding -</a>

  <!-- <a routerLink="/list/:id">itemdetail -</a> -->
</nav>

<h1>Hello World Angular!</h1>

<router-outlet></router-outlet>

<!-- <p>Olá</p>
<div>
  <a href="#">Clique aqui</a>
</div>
<app-first-component></app-first-component>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-directive></app-directive>
<app-if-render></app-if-render>
<app-eventos></app-eventos>
<app-emitter></app-emitter>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->

<p>footer</p>